__pycache__/git.cpython-310.pyc
base/__pycache__/__init__.cpython-310.pyc
base/__pycache__/repo.cpython-310.pyc
base/__pycache__/settings.cpython-310.pyc
base/__pycache__/
__pycache__/teste.cpython-310.pyc
test.log
